.venv/
.vscode
.ruff_cache
.mypy_cache
.python-version

__pycache__/

# ==実験データ==
src/analysis/exp01_pitch_mora_count_analysis/data/pitch_count/*
!src/analysis/exp01_pitch_mora_count_analysis/data/pitch_count/.gitkeep

src/analysis/exp01_pitch_mora_count_analysis/data/01exp_figures/Consonant/*
!src/analysis/exp01_pitch_mora_count_analysis/data/01exp_figures/Consonant/.gitkeep

src/analysis/exp01_pitch_mora_count_analysis/data/01exp_figures/Special Symbol/*
!src/analysis/exp01_pitch_mora_count_analysis/data/01exp_figures/Special Symbol/.gitkeep

src/analysis/exp01_pitch_mora_count_analysis/data/01exp_figures/Vowel/*
!src/analysis/exp01_pitch_mora_count_analysis/data/01exp_figures/Vowel/.gitkeep

src/analysis/exp02_duration_mora_analysis/data/02exp_figures/*
!src/analysis/exp02_duration_mora_count_analysis/data/02exp_figures/.gitkeep

src/analysis/exp02_duration_mora_analysis/data/02exp_figures/Consonant/*
!src/analysis/exp02_duration_mora_analysis/data/02exp_figures/Consonant/.gitkeep

src/analysis/exp02_duration_mora_analysis/data/02exp_figures/Special Symbol/*
!src/analysis/exp01_duration_mora_analysis/data/02exp_figures/Special Symbol/.gitkeep

src/analysis/exp02_duration_mora_analysis/data/02exp_figures/Vowel/*
!src/analysis/exp02_duration_mora_analysis/data/02exp_figures/Vowel/.gitkeep
